
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Saloon/Views/Shared/_SaloonLayout.cshtml";
}

<div class="content-body">
    <!-- Card headings examples section start -->
    <section id="card-headings">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="heading-icon"><b>Recent Sales</b></h4>
                        <h8>Last 7 Days</h8>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a href="#"><i class="ft-more-horizontal"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div style="width:200px;height:200px;display:inline-block;">
                                <i class="ft-bar-chart-2 font-medium-5"></i>
                            </div>
                            <h4 class="card-title">No Sales Data</h4>
                            <p class="card-text">
                                Make some appointments for sales data to appear
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="heading-icon"><b>Upcoming Appointments</b></h4>
                        <h8>Last 7 Days</h8>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a href="#"><i class="ft-more-horizontal"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div style="width:200px;height:200px;display:inline-block;">
                                <i class="ft-bar-chart-2 font-medium-5"></i>
                            </div>
                            <h4 class="card-title">Your Schedule is Empty</h4>
                            <p class="card-text">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="heading-icon"><b>Appointment Activity</b></h4>
                        <h8>Last 7 Days</h8>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a href="#"><i class="ft-more-horizontal"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div style="width:200px;height:200px;display:inline-block;">
                                <i class="ft-bar-chart-2 font-medium-5"></i>
                            </div>
                            <h4 class="card-title">Today's Next Appointments</h4>
                            <p class="card-text">
                                Make some appointments for sales data to appear
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="heading-icon"><b>Recent Sales</b></h4>
                        <h8>Last 7 Days</h8>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a href="#"><i class="ft-more-horizontal"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div style="width:200px;height:200px;display:inline-block;">
                                <i class="ft-bar-chart-2 font-medium-5"></i>
                            </div>
                            <h4 class="card-title">Top Services</h4>
                            <p class="card-text">
                                Make some appointments for sales data to appear
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="heading-icon"><b>Recent Sales</b></h4>
                        <h8>Last 7 Days</h8>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a href="#"><i class="ft-more-horizontal"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div style="width:200px;height:200px;display:inline-block;">
                                <i class="ft-bar-chart-2 font-medium-5"></i>
                            </div>
                            <h4 class="card-title">No Sales Data</h4>
                            <p class="card-text">
                                Make some appointments for sales data to appear
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="heading-icon"><b>Recent Sales</b></h4>
                        <h8>Last 7 Days</h8>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a href="#"><i class="ft-more-horizontal"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div style="width:200px;height:200px;display:inline-block;">
                                <i class="ft-bar-chart-2 font-medium-5"></i>
                            </div>
                            <h4 class="card-title">No Sales Data</h4>
                            <p class="card-text">
                                Make some appointments for sales data to appear
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    </div>
